body {
    background: url("../images/vertical-waves.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-bottom: 100px;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

.meImg {
	height: 100px;
	width: 100px;
	margin-right: 12px;
	margin-bottom: 5px;
	margin-top: 6px;
	float: left;
}

.footer {
    position: fixed;
	bottom: 0;
    width: 100%;
	background-color: #666666;
    border-top: 5px #4aaaa5 solid;
    height: 68px;
}

.footerText{
	color: white;
	text-align: center;
	padding-top: 24px; 
	font-size: 12px;
}

.copyright {
    color: white;
	text-align: center;
	padding-top: 20px; 
	font-size: 12px;
}

.link-img {
    width: 50px;
	height: 50px;
	margin: 2px;
	margin-top: 10px;
    margin: 0px;
}

a.thumbnail {
	heigh: 60px;
	width: 60px;
	margin: 5px;
	float: left;
}

/*.thumbnail-div {
	margin-bottom: 5%;
    margin-left: 7%;
}*/

.no-margin {
	margin: 0px;
	padding: 0px;
	width: 60px;
}

.row {
	margin: 4px;
}

.col-md-8, .col-xs-12, .col-s-12 {
	background-color: #ffffff;
	border: #dddddd 1px solid;
	padding-bottom: 15px;
	margin-top: 10px;
}

.img-p {
	height: 100%;
	width: 100%;
	margin: none;
	padding: none;
}

.img-div {
	background-color: none;
	border: none;
	padding: 5px;
}

.p-thumbnail {
	height: 150px;
	width: 150px;
}