#meImg {
	height: 100px;
	width: 100px;
	margin-right: 12px;
	margin-bottom: 5px;
	margin-top: 6px;
}

div {
    border: black 1px solid;
}

.footer {
    position: fixed;
	bottom: 0;
    width: 100%;
	background-color: #666666;
    border-top: 5px #4aaaa5 solid;
    height: 68px;
}
